body {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  background: linear-gradient(#3889d1, #b1c2d3);
  background-image: url("boby.jpeg");
  background-repeat: no-repeat;
  background-position: bottom 125px right 50px;
  font-family: "Open Sans", sans-serif;
}

img {
  float: left;
  margin-right: 10px;
  margin-bottom: 10px;
}

p {
  font-family: "Times New Roman", Times, serif;
  font-size: normal;
  color: brown;
  word-spacing: 2px;
}

a {
  display: block;
  font-size: 17px;
  text-align: center;
}

a:hover {
  color: blueviolet;
}

a:visited {
  color: peru;
}

.Big {
  font-size: 160%;
  background-color: azure;
  margin-left: auto;
  margin-right: auto;
  border-left: 3px solid;
  padding-left: 30px;
  padding-top: 80px;
  padding-bottom: 80px;
  font-style: italic;
}

.neighbors {
  color: violet;
  font-style: italic;
}

.farmer {
  color: gray;
  font-style: italic;
}

#header-story {
  background-color: yellow;
}

table {
  border: 1px solid;
}

tr {
  border: 1px solid;
}

td {
  border: 1px solid;
}

th {
  border: 1px solid;
}

.G {
  text-transform: capitalize;
  color: green;
}

.B {
  text-transform: capitalize;
}

.impaire {
  background-color: grey;
}

.paire {
  background-color: white;
}

#1p {
  font-weight: bolder;
}
